[Unit]
Description=Apache NiFi
After=network.target

[Service]
Type=forking
User={{ nifi_user }}
Group={{ nifi_group }}
ExecStart={{ nifi_install_dir }}/current/bin/nifi.sh start
ExecStop={{ nifi_install_dir }}/current/bin/nifi.sh stop
ExecStatus={{ nifi_install_dir }}/current/bin/nifi.sh status
Restart=on-failure

[Install]
WantedBy=multi-user.target
